<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.homeproj.english.worldtalk">

    <application
        android:icon="@drawable/worldtalk_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MVCview.view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".MVCview.view.MainActivity">

        </activity>
    </application>

</manifest>